@charset "UTF-8";

h1 {
  padding: 0.5em 50px;
  border-bottom: solid 3px #364e96;
  background: #eaf3ff;
}
h2.sub-title {
  width: 300px;
  float: right;
  border-bottom: 2px solid #bc64a4;
}
h3 {
  border-left: 8px solid #eb6101;
  padding-left: 10px;
}
.introduction {
  padding: 80px 30px 0px 0px;
}
#menu {
  width: 350px;
  background: #e7e7e7;
  float: left;
  clear: none;
  margin: 100px 0px 0px 30px;
  border: 1px solid #98adb7;
}
#menu ol {
  margin: 0;
  padding: 0;
  background: #e7e7e7;
}
#menu li {
  padding: 5px 20px;
  border-bottom: 1px solid #98adb7;
  list-style-position: inside;
}
#menu li:hover {
  background: #87ceeb;
}
#menu li.current {
  font-size: 120%;
  color: #b7282e;
}
#menu li:last-child {
  border-bottom: none;
}
#menu a {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  padding: 5px 25px;
  color: #406485;
}
.contents {
  float: right;
  text-align: left;
  padding: 10px 200px 10px 0px;
}
tr.cmd {
  display: block;
  border-radius: 5px;
  background: #000000;
  width: 500px;
}
tr.cmd td {
  padding-left: 10px;
  color: #ffffff;
}
table.keys {
  border-collapse: collapse;
  margin: 5px 0px 5px 20px;
}
table.keys td, th {
  border: 2px solid #2f4f4f;
  background: #98fb98;
  padding: 5px 5px;
}
table.keys td:first-child {
  text-align: center;
  font-weight: bold;
}
table.keys th {
  text-align: center;
}
table.seq-cmd {
  margin-left: 50px;
  border-collapse: collapse;
}
table.seq-cmd td, th {
  padding: 3px;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
}
table.seq-cmd td:first-child {
  border-right: 1px solid #808080;
}
#mode-intro {
  padding: 0px 0px 50px 0px;
}
.sub-contents {
  padding-bottom: 50px;
}
.syntax-1 {
  padding: 3px;
  margin: 0px 0px 10px 0px;
  border: 4px solid #dda0dd;
}
.syntax-2 {
  padding: 3px;
  margin: 0px 0px 10px 0px;
  border: 4px solid #228b22;
}
.syntax {
  padding: 3px;
  margin: 10px 0px 0px 0px;
  border: 4px solid #dda0dd;
}
.replace-range {
  padding-bottom: 25px;
}
img.mode-trans {
  padding-left: 100px;
}
.try {
  position: relative;
  margin: 3em 0;
  border: solid 3px #62c1ce;
  background: rgba(224,181,211,0.5);
}
.try .try-title {
  position: absolute;
  display: inline-block;
  top: -30px;
  left: -3px;
  padding: 3px 9px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  border-radius: 5px 5px 0 0;
  height: 24px;
  line-height: 25px;
}
#index-title {
  font-size: 20px;
  padding-left: 12em;
}
.index {
  margin: 2em 0 4em;
  padding: 1em 3em;
  border: solid 3px #00a1e9;
}
